/*******************************************************************************/
/****** common.css : 공통으로 쓰이는 기능들의 스타일(헤더, 푸터, 게시판, 버튼 등) ******/
/*******************************************************************************/


@charset "utf-8";


/**** 폰트 및 텍스트 관련 ****/
*{word-break: keep-all;}
b, strong{font-size: 700;}
.color_orange{color: #F5822C;}


/**** 레이아웃 ****/
.center_wrap{max-width: 750px; height: 100%; margin: 0 auto; position: relative; overflow: hidden;}
.vertical_center_wrap{height: 100%; display: flex; align-items: center;}


/**** 헤더와 컨텐츠의 위치 ****/
.vertical_flex_wrap{height: 100%; display: flex; flex-direction: column;}
.vertical_flex_wrap .header_wrap{}
.vertical_flex_wrap .contents{height: 100%; flex-grow: 0; overflow-x: hidden; overflow-y: auto;}


/**** 헤더 ****/
/* 일반 컨텐츠의 헤더 */
.header_wrap{}
.header_wrap .header{height: 44px; position: relative;}
.header_wrap .header .left{position: absolute; left: 0; top: 0;}
.header_wrap .header .left .btn1{margin-top: 9px; margin-left: 12px;}
.header_wrap .header .left .btn1 img{width: 24px;}
.header_wrap .header .center{text-align: center;}
.header_wrap .header .center h2{font-size: 16px; line-height: 44px; color: #565656; font-weight: 700;}
.header_wrap .header .right{position: absolute; right: 0; top: 0;}
.header_wrap .header .right span{font-size: 14px; color: #6a6a6a; line-height: 20px; margin-top: 12px; margin-right: 20px;}
.header_wrap .header .right .r_btn{cursor: pointer;}

/* 진행바가 있는 헤더 */
.header.progress{border-bottom: 2px solid #EBEBEB;}
.header.progress .progress_bar{position: absolute; left: 0; bottom: -2px; width: 100%; height: 2px; background: #F5822C;}

/* 홈 헤더 */
.header_wrap .header.home_header{background: #000;}
.header_wrap .header.home_header .left{}
.header_wrap .header.home_header .left .logo{width: 64px; height: 28px; margin-left: 20px; margin-top: 8px; background: url(../../images/logo76_o.svg) 0 0 / 64px;}
.header_wrap .header.home_header.white .left .logo{background-image: url(../../images/logo76_w.svg);}
.header_wrap .header.home_header .right{display: flex; margin-right: 20px;}
.header_wrap .header.home_header .right .my_box_area{margin-top: 8px; position: relative;}
.my_box{height: 28px; border-radius: 14px; background: #fff; padding: 4px 8px 0 4px; display: flex; position: relative;}
.my_box a{font-size: 12px; line-height: 20px; font-weight: 700; height: 20px;}
.my_box a.point{padding-left: 24px; background: url(../../images/icon/point.svg) no-repeat 0 50% / 20px;}
.my_box a.cash{margin-left: 4px; padding-left: 24px; background: url(../../images/icon/cash.svg) no-repeat 0 50% / 20px;}
.header_wrap .header.home_header .right .alarm{margin-top: 10px; margin-left: 12px;}
.header_wrap .header.home_header .right .alarm a{width: 24px; height: 24px; background: url(../../images/icon/alarm.svg) no-repeat 50% 50% / 24px; position: relative;}
.header_wrap .header.home_header.white .right .alarm a{background-image: url(../../images/icon/alarm_white.svg);}
.header_wrap .header.home_header .right .alarm a.on::after{content: ''; width: 6px; height: 6px; background: #FC5555; border: 1px solid #fff; border-radius: 50%; position: absolute; right: 0; top: 0;}
.my_box.out_dim{position: absolute; right: 0; top: 0; z-index: 150;}

/**** 하단 영역 ****/
/* 일반 하단영역 */
.page_lower_wrap{}
.page_lower_wrap p{text-align: center; font-size: 12px; line-height: 16px;}
.page_lower_wrap .btns_wrap{margin-top: 8px;}
.page_lower_wrap .btns_wrap article{}
.page_lower_wrap .btns_wrap article:nth-of-type(1){margin-top: 0; }

/* 하단에 붙어있는 하단영역 */
.bottom_position_wrap{position: absolute; left: 0; bottom: 0; padding: 0 20px 24px; width: 100%; text-align: center;}
.bottom_position_wrap article{margin-top: 8px;}
.bottom_position_wrap article:nth-of-type(1){margin-top: 0;}
.bottom_position_wrap .note{margin-bottom: 8px; font-size: 14px; line-height: 20px; color: #565656;}
.bottom_position_wrap .note strong{font-weight: 700;}

/* 하단 플로팅 네비바(스크롤해도 화면을 따라다님) */
.bottom_floating_wrap{}
.bottom_floating_wrap .bottom_nav_01{height: 60px; background: #fff; display: flex; border-top: 1px solid #EBEBEB;}
.bottom_floating_wrap .bottom_nav_01 article{height: 100%; width: 20%;}
.bottom_floating_wrap .bottom_nav_01 article a{width: 100%; height: 100%; font-size: 10px; line-height: 12px; color: #B5B5B5; padding-top: 36px; text-align: center; background: url(../../images/icon/nav_home.svg) no-repeat 50% 10px / 24px; position: relative;}
.bottom_floating_wrap .bottom_nav_01 article a.on{color: #F5822C; background-image: url(../../images/icon/nav_home_on.svg);}
.bottom_floating_wrap .bottom_nav_01 article a.dot{}
.bottom_floating_wrap .bottom_nav_01 article a.dot::after{content: ''; width: 6px; height: 6px; background: #FC5555; border-radius: 50%; position: absolute; left: calc(50% + 6px); top: 10px; border: 1px solid #fff;}
.bottom_floating_wrap .bottom_nav_01 article a.bnt_01{}
.bottom_floating_wrap .bottom_nav_01 article a.bnt_01.on{} 
.bottom_floating_wrap .bottom_nav_01 article a.bnt_02{background-image: url(../../images/icon/nav_report.svg);}
.bottom_floating_wrap .bottom_nav_01 article a.bnt_02.on{background-image: url(../../images/icon/nav_report_on.svg);}
.bottom_floating_wrap .bottom_nav_01 article a.bnt_03{background-image: url(../../images/icon/nav_content.svg);}
.bottom_floating_wrap .bottom_nav_01 article a.bnt_03.on{background-image: url(../../images/icon/nav_content_on.svg);}
.bottom_floating_wrap .bottom_nav_01 article a.bnt_04{background-image: url(../../images/icon/nav_status.svg);}
.bottom_floating_wrap .bottom_nav_01 article a.bnt_04.on{background-image: url(../../images/icon/nav_status_on.svg);}
.bottom_floating_wrap .bottom_nav_01 article a.bnt_05{background-image: url(../../images/icon/nav_profile.svg);}
.bottom_floating_wrap .bottom_nav_01 article a.bnt_05.on{background-image: url(../../images/icon/nav_profile_on.svg);}


/**** 버튼 ****/
.btn{text-align: center; border-radius: 8px; width: 100%; font-weight: 500;}
.btn.h60{font-size: 18px; height: 60px; line-height: 60px; padding: 0 28px;}
.btn.h52{font-size: 16px; height: 52px; line-height: 52px; padding: 0 24px;}
.btn.h44{font-size: 14px; height: 44px; line-height: 44px; padding: 0 20px;}
.btn.h36{font-size: 12px; height: 36px; line-height: 36px; padding: 0 16px;}
.btn.orange{background: #F5822C; color: #fff;}
.btn.orange:active{background: #532604;}
.btn.white{background: #fff; color: #565656; border: 1px solid #EBEBEB;}
.btn.white:active{background: #EBEBEB; border: none;}
.btn.outline{color: #565656; border: 1px solid #EBEBEB;}
.btn.outline:active{background: #EBEBEB; border: none;}
.btn.text{color: #565656;}
.btn.white_text{color: #fff;}
.btn.text:active{background: #EBEBEB;}
.btn:disabled{background: #F3F3F3; color: #DCDCDC;}
.btn:disabled:active{background: #F3F3F3; color: #DCDCDC;}
.btn.text:disabled{color: #DCDCDC;}
.btn.text:disabled:active{color: #DCDCDC;}


/**** 입력박스 ****/
/* 일반 입력박스 */
.input_box{position: relative; display: flex;}
.input_box.h52{height: 52px; padding: 0 24px;}
.input_box.h44{height: 44px; padding: 0 20px;}
.input_box input{width: 100%; height: 100%; caret-color: #F5822C; color: #565656; border: 0;}
.input_box .bg{position: absolute; left: 0; right: 0; top: 0; bottom: 0; background: #F3F3F3; border-radius: 8px; z-index: -1;}
.input_box.h52 input{font-size: 16px; line-height: 52px;}
.input_box.h44 input{font-size: 14px; line-height: 44px;}
.input_box input[type=password]{font-size: 20px;}
.input_box input:disabled{color: #DCDCDC;}
.input_box input:focus ~ .bg{background: #FEF6F0;}
.input_box input:disabled ~ .bg{background: #F3F3F3}
.input_box input:disabled{color: #DCDCDC;}
::placeholder{color: #B5B5B5;}
.input_box.h52 input[type=password]::placeholder{font-size: 16px;}
.input_box.h44 input[type=password]::placeholder{font-size: 14px;}

/* 아이콘이 함께 있는 입력박스 */
.input_box.red .bg{background: #FFF4F4;}
.input_box.red input{color: #FC5555;}
.input_box.green .bg{background: #EEF9F6;}
.input_box .ico{height: 100%; display: flex; align-items: center; margin-left: 8px;}
.input_box .ico img{width: 20px; height: 20px;}

/* 버튼이 함께 있는 입력박스 */
.input_box.w_btn{padding-right: 4px;}
.input_box.w_btn input{width: auto; flex-grow: 1;}
.input_box .btn_area{height: 100%; display: flex; align-items: center; margin-left: 8px; width: auto;}
.input_box .btn_area .btn{width: auto;}

/* 입력박스와 주의사항이 함께 있는 형태(비밀번호 재설정 페이지 등) */
.input_wrap{padding: 20px 20px 0;}
.input_set{margin-top: 20px; text-align: left;}
.input_set:nth-of-type(1){margin-top: 0;}
.input_set .tit{font-size: 14px; line-height: 20px; color: #565656;}
.input_set.tit_n_input .input_area{margin-top: 8px;}
.input_set .txt_area{margin-top: 8px;}
.input_set .txt_area p{margin-top: 8px; padding-left: 20px; font-size: 12px; line-height: 16px; color: #565656; background: url(../../images/icon/check.svg) no-repeat 0 50% / 16px;}
.input_set .txt_area p:nth-of-type(1){margin-top: 0;}
.input_set .txt_area p.green{color: #43BC5C; background-image: url(../../images/icon/check_green.svg);}
.input_set .txt_area p.red{color: #FC5555; background-image: url(../../images/icon/check_red.svg);}
.input_set .txt_area p.exclamation{background-image: url(../../images/icon/exclamation.svg);}


/**** 팝업 ****/
.modal_wrap{position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 100;}
.dim{position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.25);}
.popup{position: absolute; width: 320px; left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%); z-index: 110; background: #fff; padding: 28px 40px; border-radius: 16px; text-align: center; color: #565656;}
.popup.z-1{z-index: -1;}
.popup h3{font-size: 16px; font-weight: 700;}
.popup .txt{margin-top: 8px; font-size: 14px; line-height: 20px; font-weight: 400;}
.popup .txt .orange{color: #F5822C;}
.popup .input_area{margin-top: 20px;}
.popup .btn_area{margin-top: 28px;}
.popup .btn_area article{display: flex; gap: 0 8px;}
.popup .btn_area article:nth-of-type(1){}


/**** 체크박스 ****/
/* 일반 체크박스 */
.chk_list{display: flex; gap: 0 12px; align-items: center;}
.chk_list input[type=checkbox]{display: none;}
.chk_list label{cursor: pointer; height: 24px; padding-left: 36px; background: url(../../images/icon/chk_box_off.svg) no-repeat 0 50% / 24px; font-size: 12px; line-height: 24px; font-weight: 500; color: #565656;}
.chk_list input:checked ~ label{background-image: url(../../images/icon/chk_box_on.svg);}
.chk_list label.big{font-size: 14px; font-weight: 700;}


/**** 애니메이션 ****/
/* 아래에서 나타나는 하단 bg 애니메이션(b2c가입완료 등) */
.ani_01{animation-name: ani_01; animation-duration: 1.5s;}
@keyframes ani_01 {
  0% {background-position: left 50% bottom -100%;}
  50% {background-position: left 50% bottom 0%;}
  100% {background-position: left 50% bottom -20px;} /*이 줄은 bg의 원래 위치값과 같아야 함*/
}

/* 우측에서 나타나는 페이지 애니메이션(본인인증 등) */
.page_ani_wrap{position: fixed; width: 100%; height: 100%; left: 100%; top: 0;}
.page_ani_wrap .page_cont{width: 100%; height: 100%;}
.page_ani_wrap .page_cont .test_img{width: 100%; height: 100%;}
.page_ani_01{animation-name: page_ani_01; animation-duration: 1s; left: 0;}
@keyframes page_ani_01 {
  0% {left: 100%;}
  50% {left: -5%;}
  100% {left: 0%;}
}

/* 아래에서 나타나는 팝업 애니메이션(무드트래킹 감정선택 팝업 등) */
.pop_ani_01{animation-name: pop_ani_01; animation-duration: 1.5s;}
@keyframes pop_ani_01 {
  0% {top: 150%;}
  50% {top: 45%;}
  100% {top: 50%;}
}

/* 우측에서 나타나는 팝업 애니메이션(무드트래킹 강도선택 팝업 등) */
.pop_ani_02{animation-name: pop_ani_02; animation-duration: 1.5s;}
@keyframes pop_ani_02 {
  0% {left: 150%;}
  50% {left: 45%;}
  100% {left: 50%;}
}

/* 둥둥 떠있는 애니메이션(척도검사 시작 등) */
.ani_floating{animation-name: ani_floating; animation-duration: 2s; animation-iteration-count: infinite; position: relative;}
@keyframes ani_floating {
  0% {top: 8px;}
  50% {top: -4px;}
  100% {top: 8px;}
}


/**** 텍스트 박스 ****/
/* 흰 바탕의 안내 박스 */
.noti_box{background: #fff; padding: 16px 28px; border-radius: 8px; text-align-last: left; color: #565656; font-size: 12px; line-height: 16px;}
.noti_box .tit{font-size: 14px; line-height: 20px; font-weight: 700;}
.noti_box p{margin-top: 4px;}

/* 회색 바탕에 보더가 있는 안내 박스 */
.noti_box.gray_bg{background: #F9F9F9; border: 1px solid #EBEBEB;}


/**** 태그 ****/
/* 오렌지색 외곽 선형 태그 */
.note_box{display: inline-block; padding: 4px 12px; background: #FEF1DE; border: 1px solid #F5822C; border-radius: 4px; color: #F5822C; font-size: 12px; line-height: 20px; font-weight: 700;}


/**** 안내 텍스트 ****/
/* 폰트사이즈 14px */
.noti_14{font-size: 14px; line-height: 20px; color: #565656;}




 


